<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="FelicaCashingSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="FelicaCashingSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <applicationSettings>
        <FelicaCashingSystem.Properties.Settings>
            <setting name="SmtpHost" serializeAs="String">
                <value>ugs-mail.kochi-tech.ac.jp</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="MailFrom" serializeAs="String">
                <value>robotclub_kut@yahoo.co.jp</value>
            </setting>
            <setting name="SmtpUser" serializeAs="String">
                <value>robot</value>
            </setting>
            <setting name="SmtpPassword" serializeAs="String">
                <value>age2gold</value>
            </setting>
            <setting name="ClubDues" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="TemplateDirectory" serializeAs="String">
                <value>.\template\</value>
            </setting>
            <setting name="FelicaLogoUrl" serializeAs="String">
                <value>http://www.sony.jp/</value>
            </setting>
            <setting name="LeaderName" serializeAs="String">
                <value>徳永 貴昭</value>
            </setting>
            <setting name="LeaderPhoneNumber" serializeAs="String">
                <value>090-5919-7521</value>
            </setting>
        </FelicaCashingSystem.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <FelicaCashingSystem.Properties.Settings>
            <setting name="TemplateExtension" serializeAs="String">
                <value>.txt</value>
            </setting>
            <setting name="ClubDues2" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="DatabaseFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupInterval" serializeAs="String">
                <value>0</value>
            </setting>
        </FelicaCashingSystem.Properties.Settings>
    </userSettings>
</configuration>
