<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RobotClub.DormitoryReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="KutDormitoryReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RobotClub.DormitoryReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RobotClub.DormitoryReport.Properties.Settings>
            <setting name="FontPath" serializeAs="String">
                <value>ipaexm.ttf</value>
            </setting>
            <setting name="NameX" serializeAs="String">
                <value>405</value>
            </setting>
            <setting name="NameY" serializeAs="String">
                <value>643</value>
            </setting>
            <setting name="NameFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TemplatePath" serializeAs="String">
                <value>DomitoryReportTemplate.pdf</value>
            </setting>
            <setting name="LeaderNameX" serializeAs="String">
                <value>187</value>
            </setting>
            <setting name="LeaderNameY" serializeAs="String">
                <value>318</value>
            </setting>
            <setting name="LeaderNameFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RoomNoX" serializeAs="String">
                <value>405</value>
            </setting>
            <setting name="RoomNoY" serializeAs="String">
                <value>667</value>
            </setting>
            <setting name="RoomNoFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PhoneNumberX" serializeAs="String">
                <value>405</value>
            </setting>
            <setting name="PhoneNumberY" serializeAs="String">
                <value>619</value>
            </setting>
            <setting name="PhoneNumberFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LeaderPhoneNumberX" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="LeaderPhoneNumberY" serializeAs="String">
                <value>318</value>
            </setting>
            <setting name="LeaderPhoneNumberFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ReasonX" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="ReasonY" serializeAs="String">
                <value>340</value>
            </setting>
            <setting name="ReasonFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FileNamePrefix" serializeAs="String">
                <value>門限超過届_</value>
            </setting>
            <setting name="TimeYearX" serializeAs="String">
                <value>405</value>
            </setting>
            <setting name="TimeYearY" serializeAs="String">
                <value>710</value>
            </setting>
            <setting name="TimeMonthX" serializeAs="String">
                <value>443</value>
            </setting>
            <setting name="TimeMonthY" serializeAs="String">
                <value>710</value>
            </setting>
            <setting name="TimeDateX" serializeAs="String">
                <value>484</value>
            </setting>
            <setting name="TimeDateY" serializeAs="String">
                <value>710</value>
            </setting>
            <setting name="TimeFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ReturnDateBeginYearX" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ReturnDateBeginYearY" serializeAs="String">
                <value>478</value>
            </setting>
            <setting name="ReturnDateBeginMonthX" serializeAs="String">
                <value>243</value>
            </setting>
            <setting name="ReturnDateBeginMonthY" serializeAs="String">
                <value>478</value>
            </setting>
            <setting name="ReturnDateBeginDateX" serializeAs="String">
                <value>280</value>
            </setting>
            <setting name="ReturnDateBeginDateY" serializeAs="String">
                <value>478</value>
            </setting>
            <setting name="ReturnDateBeginFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ReturnDateEndHour" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ReturnDateEndMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReturnDateEndTodayHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReturnDateEndTodayMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReturnDateEndTomorrowHour" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ReturnDateEndTomorrowMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ReturnDateEndMonthX" serializeAs="String">
                <value>335</value>
            </setting>
            <setting name="ReturnDateEndMonthY" serializeAs="String">
                <value>478</value>
            </setting>
            <setting name="ReturnDateEndDateX" serializeAs="String">
                <value>370</value>
            </setting>
            <setting name="ReturnDateEndDateY" serializeAs="String">
                <value>478</value>
            </setting>
            <setting name="ReturnDateEndHourX" serializeAs="String">
                <value>426</value>
            </setting>
            <setting name="ReturnDateEndHourY" serializeAs="String">
                <value>478</value>
            </setting>
            <setting name="ReturnDateEndMinuteX" serializeAs="String">
                <value>466</value>
            </setting>
            <setting name="ReturnDateEndMinuteY" serializeAs="String">
                <value>478</value>
            </setting>
            <setting name="ReturnDateEndFontSize" serializeAs="String">
                <value>10</value>
            </setting>
        </RobotClub.DormitoryReport.Properties.Settings>
        <KutDormitoryReport.Properties.Settings>
            <setting name="FontPath" serializeAs="String">
                <value>ipaexm.ttf</value>
            </setting>
            <setting name="NameX" serializeAs="String">
                <value>410</value>
            </setting>
            <setting name="NameY" serializeAs="String">
                <value>650</value>
            </setting>
            <setting name="NameFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TemplatePath" serializeAs="String">
                <value>DomitoryReportTemplate.pdf</value>
            </setting>
            <setting name="LeaderNameX" serializeAs="String">
                <value>410</value>
            </setting>
            <setting name="LeaderNameY" serializeAs="String">
                <value>633</value>
            </setting>
            <setting name="LeaderNameFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StudentIdX" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="StudentIdY" serializeAs="String">
                <value>525</value>
            </setting>
            <setting name="StudentIdFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RoomNoX" serializeAs="String">
                <value>410</value>
            </setting>
            <setting name="RoomNoY" serializeAs="String">
                <value>670</value>
            </setting>
            <setting name="RoomNoFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PhoneNumberX" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="PhoneNumberY" serializeAs="String">
                <value>509</value>
            </setting>
            <setting name="PhoneNumberFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LeaderPhoneNumberX" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="LeaderPhoneNumberY" serializeAs="String">
                <value>478</value>
            </setting>
            <setting name="LeaderPhoneNumberFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ReasonX" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="ReasonY" serializeAs="String">
                <value>384</value>
            </setting>
            <setting name="ReasonFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FileNamePrefix" serializeAs="String">
                <value>ドミトリー門限超過届_</value>
            </setting>
        </KutDormitoryReport.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <RobotClub.DormitoryReport.Properties.Settings>
            <setting name="PrintDialog" serializeAs="String">
                <value>False</value>
            </setting>
        </RobotClub.DormitoryReport.Properties.Settings>
    </userSettings>
</configuration>